# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit
# See https://pre-commit.com/hooks.html for more hooks

# Don't run pre-commit on files under third-party/
exclude: ^(third-party/|build/)
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: debug-statements
      - id: check-xml
      - id: check-yaml
        exclude: ^(\.clang-format|\.clang-tidy)$
      #- id: check-executables-have-shebangs

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
      #- id: cmake-lint

  # - repo: local
  #   hooks:
  #     - id: clang-tidy
  #       name: clang-tidy
  #       entry: run-clang-tidy -p build/ -j 8
  #       language: system
  #       files: \.(c|cc|cpp|cxx|h|hpp)$

  - repo: https://github.com/cpp-linter/cpp-linter-hooks
    rev: v1.1.11
    hooks:
      - id: clang-format
        args: [--style=file, --version=18]
        files: \.(c|cc|cpp|cxx|h|hpp)$

  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.19.1
    hooks:
      - id: gitlint
        stages: [commit-msg]
